.primary {
    background-color:  #BED5EB;
}

.secondary {
    background-color: royalblue;
}

.tertiary{
    background-color: #15227A;
}

.aligncenter {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;
    margin: 1vw;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 2;
}

.box span {
    margin-top: 0.5vw;
}

.box img {
    max-width: 100%;
    height: auto;
    display: block;
}

.space-mono {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#hero {
    
}

#cta {
    padding-top: 1rem;
}

#vision {
    
}

#vision hr {
    margin-top: 1rem;
}

#skills {
    
}

#experience {

}

#contact {
    display: flex;
    justify-content: space-around;
}

#contact div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
    flex-wrap: wrap;
    overflow:scroll;
    text-align: center;
}

#hamburger {
    display: none;
}

#mobileMenu {
    display: none;
}

#desktopMenu a {
    color: #000000;
}

#desktopMenu {
    display: flex;
    justify-content: space-around;
}

.menuItem {
    margin: 0;
    font-size: 2rem;
}

.menuItem:last-child {
    margin-bottom: 1rem;
}

@media (max-width:599px){
    #hamburger {
    border: 1px solid #15227A;
    height: 3rem;
    width: 3rem;
    margin: 1rem auto;
    padding: 0;
    cursor: pointer;
    display: block;
    }

    .hamline {
    width: 80%;
    height: 2px;
    background-color: #15227A;
    }

    #mobileMenu {
    position: relative;
    color: white;
    background-color: royalblue;
    z-index: 10;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .200s ease-in-out;
    display: block;
    }

    #mobileMenu, a {
    color: #000000;
    }

    #mobileMenu :visited {
        color: #000000;
    }

    #desktopMenu {
    display: none;
    }

    .menuItem {
    color: #000000;
    font-size: 2rem;
    display: block;    
    width: fit-content;
    margin: 15% auto;
    }

    .menuItem:last-child {
    margin-bottom: 2rem;
    }
}

li {
    margin-right: 10px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: clamp(1.2rem, 1.5vw, 2vw);
    line-height: 0.5;
}

hr {
    border-color: #15227A;
    height: 3px;
}

p {
    text-align: center;
    font-size: 1.5rem;
}

a {
    color: #15227A;
}

button {
    display: block;
    margin: auto;
    color: ivory;
}

img {
    max-width: 100%;
    height: auto;
}

:visited {
    color: #15227A;
}

.skill-spin {
    transition: transform 0.5s ease-in-out
}

.skill-spin:active {
    transform: rotate(360deg);
}